html,
body,
#root{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}


.Viewer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}